.createPost{

    position:center;
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    padding: 20px;
}

.createPost-top{
    margin-top: 100px;
}
.card-pic{
   width: 30px;
   border-radius: 30px;
   height:auto;
   object-fit: contain;
   padding: 5px;
}


.create-main-div{
    border-top: 1px solid rgb(173, 173, 173) ;
}
.post-header{
    display: flex;
}

#post-btn{
    border: none;
    color: #339ce3;
    background:none;
    font-weight: bolder;
    cursor: pointer;
}

.create-details{
    border-top: 1px solid rgb(173, 173, 173) ;
}

textarea{
    width: 90%;
    border: none;
    outline: none;
}

#output{
    max-width: 450px;
    border: none;
    outline: none;
    margin-top: 5px;
}